[submodule "themes/hugo-winston-theme"]
	path = themes/hugo-winston-theme
	url = https://github.com/zerostaticthemes/hugo-winston-theme.git
[submodule "themes/hugo-shortcodes"]
	path = themes/hugo-shortcodes
	url = https://github.com/isqua/hugo-shortcodes.git
	branch = theme
